<div class="navbar bg-base-100 border-b">
  <div class="max-w-7xl mx-auto flex justify-between w-full">
    <div class="flex">
      <a class="btn btn-ghost normal-case text-xl">osu! Referee</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a href="/">Home</a></li>
        <li><a href="/match/new">Matches</a></li>
        <li><a href="/irc">Refsheet</a></li>
      </ul>
    </div>
    <div class="flex-none">
      Hello, Naverlyn
    </div>
  </div>
</div>